<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>A template</title>
    </head>
    <body>
        <a href="/logout" style="margin-bottom: 2em">Logout</a>
        <h1>Hello, <span th:text="${username}">username</span></h1>
        
        <form action="#" th:action="@{/news}" method="POST">
            <textarea rows="8" cols="50" name="content"></textarea>
            <br />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>